#navbar{
    border: 1px solid rgb(12, 11, 11);
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

body > div > div:nth-child(1){
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

body > div > div:nth-child(1) > img{
    width: 100%;
}

#navbar > div:nth-child(2){
    border: 1px solid rgb(244, 13, 182);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-bottom: 1%;
}

body > div > div:nth-child(2) > div:first-child >img {
    width: 100%;
}

 
#midSectionOfNavebar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    width: 40%;
    margin: auto;
    margin: 0%;
    padding: auto;
    height: fit-content;
}

#select1{
    padding: 2.5%;
    padding-right: 3%;
    margin: 0%;
    border: none;
    border-right: 2px solid gray;
}

#search{
    border: none;
    display: flex;
    margin: 0%;
    padding-right: 4.7%;
}

#searchicon{
    border: none;
    background-color: rgb(253, 58, 227);
    padding: 2.5% 3.6% 2.5% 3.6%;
    display: flex;
    margin: 0%;
}
#search > input{
    border: none;
    padding: 6.7%;
    margin: 0%;
}


body > div > div:nth-child(2) > div:last-child{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

body > div > div:nth-child(2) >div:last-child > div {
    width: 20%;
    margin-right: 15%;
}

body > div > div:nth-child(2) > div:last-child > div > img {
    width: 100%;
}

body > div > div:nth-child(3){
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

body > div > div > div {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

#lastPartofTop{
    position: sticky;
    top: 0%;
    width: 100%;
    padding-top: 1%;
    background-color: rgb(242, 7, 164);
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
    color: white;
}

#lastPartofTop > div{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5%;
    margin-bottom: 1.5%;
}

#lastPartofTop > div > div:first-child{
    width: 80%;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
    margin: 1px -61px 2px 32px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#cart{
    width: 20%;
    display: flex;
    background-color: rgb(214, 46, 158);
    color: white;
    font-size: 20px;
    flex-direction: row;
    padding: 0.5%;
    margin: 1px 20px 1px 111px;
}

#lastPartofTop > div > div > div > div > img{
    width: 15%;
}

#brand {
    margin: 1px -111px 1px -110px;
    color: white;
}

#container2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}


#box-1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 1%;
    width: 30%;
    margin: 0% auto auto 0.1%;
    height: auto;
    display: flex;
    flex-direction: column;
}


#extraImg > div{
    width: 100%;
}

#extraImg > div > img{
    width: 100%;
}

#box-1 >select{
    padding: 3%;
}

#box-1 > div >img{
    width: 150%;
}


#box-2{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 74%;
    margin: 0% 0.1% auto 1%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 1%;
}

#box-2 > #box21 {
    margin: 0% 1% 0.5% 2%;
    border-bottom: 1px solid grey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    
}

#box22{
    border: none;
    width: 100%;
    margin: 0% 0.1% auto 2%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 0% 1%;
}

#box22 > div{
    border: none;
    border-bottom: 1px solid grey;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0.1% auto 1% auto;
    padding: 0% 2% 2% 2%;
}


.checked {
    color: rgb(249, 193, 63);
}

#box22 > div > img {
    width: 100%;
    margin: 0px auto -3px auto;
    padding: 1px auto 1px auto;
}

#box22 > div > h4 {
    margin: -8px auto 17px auto;
    padding: 1px auto 1px auto;
    text-decoration: none;
    line-height: 5%;
    color: rgb(47, 8, 175);
}

#box22 > div > h5{
    color: rgb(242, 7, 164);
    font-weight: bold;
    font-size: large;
    line-height: 5%;
    margin: 1px auto 1px auto;
    padding: 1px auto 1px auto;
}

#box22 > div > h3:first-child{
    color: rgb(242, 7, 164);
    font-weight: bold;
    line-height: 2%;
    margin: 1px auto 0px auto;
    padding: 1px auto 0px auto;
}

#box22 > h1 {
    width: 20%;
    line-height: 5%;
    margin: 1px auto 1px auto;
    padding: 1px auto 1px auto;
    border-radius: 5px;
}

#box22 {
    text-align: center;
}

#box22 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
} 

#box22 > div > button{
    cursor: pointer;
    background-color: rgb(242, 7, 164);
    color: white;
    margin: 1% 30% 1% 30%;
    margin-bottom: 4%;
    border: none;
    padding: 3% 5% 3% 5%;
} 


.hide1 {
    display: none;
}
.hide2 {
display: none;
}
.hide3 {
    display: none;
}
.hide4 {
    display: none;
}
.hide5 {
    display: none;
}
.hide6 {
    display: none;
}
.hide7 {
    display: none;
}
 

.myDIV1:hover + .hide1 {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2%;
    margin-top: 40%;
    position: absolute;
    display: flex;
    width: 95%;
    height: auto;
    background-color: white;
}


.myDIV2:hover + .hide2 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    padding: 2%;
    margin-top: 40%;
    display: flex;
    position: absolute;
    width: 95%;
    height: auto;
    background-color: white;
}
.hide2 > div:last-child{
    width: 75%;
}
.hide2 > div:last-child > div > img {
    width: 100%;
}


.hoverdiv{
    display: flex;
    width: 22%;
    flex-direction: column;
}


.hoverdiv > p{
    line-height: 5%;
    font-size: 12px;
}

.myDIV3:hover + .hide3 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    padding: 2%;
    margin-top: 40%;
    display: flex;
    position: absolute;
    width: 96%;
    height: auto;
    background-color: white;
}
.hide3 > div:last-child{
    width: 85%;
}


.myDIV4:hover + .hide4 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    padding: 2%;
    margin-top: 40%;
    width: 90%;
    position: absolute;
    height: auto;
    display: flex;
    background-color: white;
}
.hide4 > div:last-child{
    width: 85%;
}


.myDIV5:hover + .hide5 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    padding: 2%;
    margin-top: 40%;
    display: flex;
    position: absolute;
    width: 95%;
    height: auto;
    background-color: white;
}
.hide5 > div:last-child{
    width: 85%;
}


.myDIV6:hover + .hide6 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    padding: 2% 0% 2% 5%;
    display: block;
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
    width: 60%;
    height: auto;
    background-color: white;
}



.myDIV7:hover + .hide7 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    padding: 2%;
    margin-top: 40%;
    display: flex;
    position: absolute;
    width: 96%;
    height: auto;
    background-color: white;
}
.hide7 > div:last-child{
    width: 80%;
}


#lastPortionForRead{
    font-size: 75%;
    width: auto;
    padding: 0%;
}

#lastPortionForRead > div{
    margin: 1%;
    width: 100%;
    border: none;
}

#lastPortionForRead > div > p > span{
    color: rgb(193, 7, 143);
    cursor: pointer;
}

#lastPortionForRead > div > p > span:hover{
    color: rgb(254, 25, 251);
    cursor: pointer;
}

#footer > div {
    background-color: rgb(29, 28, 28);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 0.5%;
}

#footer > div:first-child > div {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding-top: 4%;
    padding-bottom: 10%;
}

#footer > div:first-child > div > p > span > img{
    width: 3%;
    border-radius: 50%;
}

#footer > div:first-child > div > p{
    line-height: 3%;
    color: rgb(134, 133, 133);
    font-size: 15px;
    margin: 3% auto 3% 5% ;
}

#footer > div:first-child > div > h3+p{
    color: rgb(230, 15, 230);
    margin-bottom: 5%;
}

#footer > div:first-child > div > p:hover{
    color: rgb(246, 8, 227);
    cursor: pointer;
}

#footer > div:first-child > div > h3{
    margin-left: 7%;
    color: white;
    line-height: 5%;
}

#footer > div:first-child > div:first-child > p{
    margin: 4.5% auto 4.5% 7% ;
}

#footer > div > div > div {
    margin-left: 7%;
    margin-top: 3%;
}
#footer > div > div > div > img {
    width: 15%;
    border-radius: 50%;
}

#footerlast {
    background-color: rgb(29, 28, 28);
    border: 1px solid rgb(29, 28, 28);
    width: 100%;
}

#footerlast > div {
    width: 95%;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    border-top: 1px solid white;
}

#footerlast > div > div:first-child {
    width: fit-content;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    margin: 4px 1px -107px 1px;
    padding: 1px 1px 1px 1px;
}

#footerlast > div > div:first-child > img{
    width: 70%;
}

#footerlast > div > div:last-child {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}

#footerlast > div > div:last-child > div:nth-child(1){
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
    width: fit-content;
    padding: 1px 1px 1px 1px;
}
#footerlast > div > div:last-child > div:nth-child(2){
    display: flex;
    margin: 0%;
}
#footerlast > div > div:last-child > div:nth-child(3){
    display: flex;
    margin: 0%;
}

#footerlast > div > div:last-child > div:nth-child(2) > input{
    background-color: white;
    padding: 14px 86px 14px 22px;
    font-size: large;
    margin: 1px 0px 1px 1px;
}

#footerlast > div > div:last-child > div:nth-child(3) > button{
    background-color: rgb(248, 26, 200);
    padding: 15px 19px 15px 9px;
    font-size: large;
    margin: 1px 1px 0px 1px;
    border: none;
}

#footerlast > div > div:last-child > div:nth-child(3) > button:hover{
    background-color: rgb(244, 94, 212);
    padding: 15px 19px 15px 9px;
    font-size: large;
    margin: 1px 1px 0px 1px;
    border: none;
}

#firstBodyPortion{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
    display: flex;
    margin: auto;
    width: 100%;

}
#firstBodyPortion > div:first-child {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 0%;
    width: 25%;
    display: flex;
}

#firstBodyPortion > div:first-child > div {
    display: flex;
    width: 100%;
    margin-top: 0%;
    padding-bottom: 125px;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
}
#firstBodyPortion > div:first-child > div >p {
    line-height: 7%;
    font-size: 80%;
    margin: 1%;
    padding: 1%;
}
#firstBodyPortion > div:first-child > div > h3 > span > img{
    width: 15%;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    z-index: -1;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 1px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


#secondBodyPortion > div > img{
    width: 100%;
}

.thirdBodyPortion > h2 {
    font-size: medium;
    border-bottom: 2px solid rgb(236, 53, 236);
}

.thirdBodyPortion > div {
    margin-top: 0%;
    padding-top: 0%;
    width: 100%;
    height: auto;
    margin: auto;
}


#gridsection{
    width: 100%;
    margin: auto;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1%;
}
#gridsection > div {
    margin: auto;
    margin-top: 0%;
    padding: 5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#gridsection > div > img {
    width: 70%;
    margin: auto;
    padding: 0%;
}

#gridsection > div > h3{
    margin: 0%;
    padding: 0%;
}

#gridsection > div >  h5{
    margin: 0%;
    padding: 0%;
}

#gridsection > div > button{
    background-color: rgb(244, 94, 212);
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 3%;
    margin: 2% 25% 2% 25%;
}

#gridsection > div > button:hover {
    background-color: rgb(240, 141, 217);
    color: white;
    border: 2px solid rgb(8, 2, 2);
    border-radius: 5px;
    padding: 2.8%;
    margin: 2% 24.9% 2% 24.9%;
}

#fourthBodyPortion{
    width: 100%;
    margin: auto;
    margin-top: 2%;
    height: auto;
}

#fourthBodyPortion > div {
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

#fourthBodyPortion > div > div {
    width: 95%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#fourthBodyPortion > div > div >img {
    width: 100%;
}

#fifthBodyPortion{
    width: 100%;
    margin: auto;
    margin-top: 1%;
    height: auto;
}

#fifthBodyPortion > div {
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);
}

#fifthBodyPortion > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#fifthBodyPortion > div > div > div >img {
    width: 100%;
   margin-top: 15%;
}

#fifthBodyPortion > div > div:last-child > div >img {
    width: 100%;
   margin-top: 60%;
}

#fifthBodyPortion > div > div > div  > p {
    font-size: 70%;
}

#fifthBodyPortion > div > div:hover{
    background-color: rgb(245, 114, 232);
    color: white;
}

.seventhBodyPortion {
    margin-top: 2%;
    width: 100%;
    height: auto;
    margin: auto;
}

.seventhBodyPortion > div > div > img {
    width: 100%;
}

#eighthBodyPortion > div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}