*{
    font-family: Arial, Helvetica, sans-serif;
}


#navbar{
    border: 1px solid rgb(12, 11, 11);
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

body > div > div:nth-child(1){
    /* border: 1px solid black; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

body > div > div:nth-child(1) > img{
    width: 100%;
}

body > div > div:nth-child(2){
    /* border: 1px solid rgb(244, 13, 182); */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2%;
}

body > div > div:nth-child(2) > div:first-child >img {
    width: 100%;
}

body > div > div:nth-child(2) > div:nth-child(2){
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 0px;
    width: 50%;
    height: fit-content;
    /* justify-content: center; */
}

body > div > div:nth-child(2) > div:nth-child(2) > input{
    padding: 1.5%;
    border-width: 0px 0px 0px 0.5px;
    padding-right: 20%;
   
}

body > div > div:nth-child(2) > div:nth-child(2) > #select1{
    padding: 1.5%;
    padding-right: 10px;
    border-width: 0px 0.5px 0px 0px;
}

body > div > div:nth-child(2) > div:nth-child(2) > div{
    width: 7%;
}

body > div > div:nth-child(2) > div:nth-child(2) > div >img{
    width: 100%;
    padding-bottom: 0px;

}

body > div > div:nth-child(2) > div:last-child{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

body > div > div:nth-child(2) >div:last-child > div {
    width: 20%;
    margin-right: 15%;
    border: 1px solid black;
}

body > div > div:nth-child(2) >div:last-child > div > img {
    width: 100%;
    
}

body > div > div:nth-child(3){
    /* border: 1px solid rgb(7, 232, 71); */
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

body > div > div >div{
    /* border: 1px solid black; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

#lastPartofTop {
    position: sticky;
    top: 0px;
    background-color: rgb(242, 7, 164);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

#lastPartofTop > div{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5%;
    margin-bottom: 1.5%;
}

#lastPartofTop > div > div:first-child{
    width: 80%;
    /* border: 1px solid rgb(7, 5, 5); */
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
    margin: 1px -61px 2px 32px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#cart{
    width: 20%;
    display: flex;
    background-color: rgb(214, 46, 158);
    color: white;
    font-size: 25px;
    flex-direction: row;
    padding: 0.5%;
    margin: 1px 20px 1px 111px;
}

#lastPartofTop > div > div > div > div > img{
    width: 15%;
}

#brand {
    margin: 1px -111px 1px -110px;
    color: white;
}

#container2{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

/* -------------------------------------------------------------------------------------- */

#box-1{
    /* border: 1px solid blue; */
    width: 30%;
    margin: 0% auto auto 0.1%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#extraImg > div{
    width: 100%;
}

#extraImg > div > img{
    width: 100%;
}

#box-1 >select{
    padding: 3%;
}

#box-1 > div >img{
   
    width: 150%;
}

/*-------------------------------------------------------------------------------------------*/

#box-2{
   
    width: 74%;
    margin: 0% 0.1% auto auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#box-2 > #box21 {
    margin: 0% 0.1% auto auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#box22{
  
    width: 100%;
    margin: 0% 0.1% auto auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 1% 1%;
}

#box22 > div{
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1px auto 1px auto;
    padding: 1px auto 1px auto;
}

#box22 > div > img {
    width: 100%;
    margin: 0px auto -3px auto;
    padding: 1px auto 1px auto;
}

#box22 > div > h4 {
    margin: -8px auto 17px auto;
    padding: 1px auto 1px auto;
    text-decoration: none;
    line-height: 5%;
    color: rgb(47, 8, 175);
}

#box22 > div > h5{
    color: rgb(242, 7, 164);
    font-weight: bold;
    font-size: larger;
    line-height: 5%;
    margin: 1px auto 1px auto;
    padding: 1px auto 1px auto;
}

#box22 > h1 {
    width: 20%;
    line-height: 5%;
    margin: 1px auto 1px auto;
    padding: 1px auto 1px auto;
    border-radius: 5px;
}

#box22 {
    text-align: center;
}

#box22 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
} 

#box22 > div > button{
    background-color: rgb(242, 7, 164);
    color: white;
    margin: 1% 30% 1% 30%;
    margin-bottom: 4%;
    border: none;
    padding: 3% 5% 3% 5%;
} 

/* -------------------------------------------------------------------------------------- */


.hide1 {
    display: none;
}
.hide2 {
display: none;
}
.hide3 {
    display: none;
}
.hide4 {
    display: none;
}
.hide5 {
    display: none;
}
.hide6 {
    display: none;
}
.hide7 {
    display: none;
}
 
/* -------------------------------------------------------------------------------------- */


.myDIV1:hover + .hide1 {
    padding: 2%;
    position: absolute;
    display: flex;
    width: 90%;
    height: auto;
    background-color: white;
}

/* -------------------------------------------------------------------------------------- */


.myDIV2:hover + .hide2 {
    padding: 2%;
    display: flex;
    position: absolute;
    width: 90%;
    height: auto;
    background-color: white;
}
.hide2 > div:last-child{
    width: 75%;
}
.hide2 > div:last-child > div > img {
    width: 100%;
}

/* ---------------------------------------------------------------------------------------- */

.hoverdiv{
    display: flex;
    width: 22%;
    flex-direction: column;
}


.hoverdiv > p{
    line-height: 5%;
    font-size: 12px;
}
/* -------------------------------------------------------------------------------------- */

.myDIV3:hover + .hide3 {
    padding: 2%;
    display: flex;
    position: absolute;
    width: 90%;
    height: auto;
    background-color: white;
}
.hide3 > div:last-child{
    width: 75%;
}

/* -------------------------------------------------------------------------------------- */

.myDIV4:hover + .hide4 {
    padding: 2%;
    width: 90%;
    position: absolute;
    height: auto;
    display: flex;
    background-color: white;
}
.hide4 > div:last-child{
    width: 75%;
}

/* -------------------------------------------------------------------------------------- */

.myDIV5:hover + .hide5 {
    padding: 2%;
    display: flex;
    position: absolute;
    width: 90%;
    height: auto;
    background-color: white;
}
.hide5 > div:last-child{
    width: 75%;
}
/* -------------------------------------------------------------------------------------- */


.myDIV6:hover + .hide6 {
    padding: 2% 0% 2% 5%;
    display: block;
    position: absolute;
    margin-left: 35%;
    width: 50%;
    height: auto;
    background-color: white;
}

/* -------------------------------------------------------------------------------------- */


.myDIV7:hover + .hide7 {
    padding: 2%;
    display: flex;
    position: absolute;
    width: 90%;
    height: auto;
    background-color: white;
}
.hide7 > div:last-child{
    width: 75%;
}
