#navbar{
    border: 1px solid rgb(12, 11, 11);
    height: auto;
    width: 95%;
    margin: auto;
    /* height: 3px auto 3px auto; */
    display: flex;
    flex-direction: column;
}


body > div > div:nth-child(1){
    /* border: 1px solid black; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    margin: auto;
}



body > div > div:nth-child(1) > img{
    width: 100%;
}



body > div > div:nth-child(2){
    /* border: 1px solid rgb(244, 13, 182); */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}



body > div > div:nth-child(2) > div:first-child >img {
    width: 100%;
}


body > div > div:nth-child(2) > div:nth-child(2){
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    padding: 0px;
    width: 50%;
    height: fit-content;
    /* justify-content: center; */
}

body > div > div:nth-child(2) > div:nth-child(2) > input{
    padding: 1.5%;
    border-width: 0px 0px 0px 0.5px;
    padding-right: 127px;
    /* margin-top: 0.5%;
    margin-bottom: 0.5%; */
}

body > div > div:nth-child(2) > div:nth-child(2) > select{
    padding: 1.5%;
    padding-right: 10px;
    border-width: 0px 0.5px 0px 0px;
    /* margin-top: 0.5%;
    margin-bottom: 0.5%; */
}

body > div > div:nth-child(2) > div:nth-child(2) > div{
    width: 7%;
    /* background-color: rgb(243, 13, 193); */
    /* margin: 0% 0% 0% 21%; */
    
}

body > div > div:nth-child(2) > div:nth-child(2) > div >img{
    width: 100%;
    /* border: 1px solid rgb(243, 13, 193); */
    padding-bottom: 0px;
}


body > div > div:nth-child(2) > div:last-child{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

body > div > div:nth-child(2) >div:last-child > div {
    /* border: 1px solid rgb(213, 67, 4); */
    /* background-color: rgb(243, 13, 193); */
    /* color: rgb(243, 13, 193); */
    width: 20%;
}



body > div > div:nth-child(2) >div:last-child > div > img {
    width: 100%;
}



body > div > div:nth-child(3){
    /* border: 1px solid rgb(7, 232, 71); */
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
}



body > div > div >div{
    /* border: 1px solid black; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 33px; */
}


#lastPartofTop{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}